/* ===========================
Index Of css

01. Common CSS
02.  CSS
03.  CSS
04.  CSS
05.  CSS
06.  CSS
07.  CSS
08.  CSS
09.  CSS
10.  CSS
11.  CSS
12.  CSS
13.  CSS

========================== */


/*===========================
    01. Common CSS
===========================*/
@import url("https://fonts.googleapis.com/css?family=Teko");
body, html {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto';
}

h1 {
    font-family: 'Teko';
    line-height: 1em;
    font-size: 4vw;
    font-weight: 600;
    letter-spacing: 0.1em;
}

p {
    line-height: 1.6em;
    font-size: 17px;
    width: 100%;
    max-width: 600px;
}

/*===== All Button Style =====*/
.menu-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 16px 48px;
    /* border-radius: 50px; */
    color: #fff;  
    cursor: pointer;
    z-index: 5;
    transition: all .4s ease-in-out;
    border: none;
    background: linear-gradient(to left, #ffb700 0%, #ffd058 50.39%, #ffb700 100%);
    background-size: 200% auto;
    overflow: hidden;  
    text-shadow: 0px 0px 10px #000000;
    text-transform: uppercase;
  }

  .menu-btn:hover, .menu-btn:focus {
    background-position: right center;
    color: #fff;
  }
  
  /* .menu-btn.border-btn {
    padding: 14px 40px;
    background: transparent;
    border: 1.5px solid #ED213A;
    color: #6A7C92;
    font-size: 18px;
    box-shadow: none;
  } */

/*===========================
    02. Above Header
===========================*/
.above-header {
    display: flex;
    /* justify-content: space-between; */
    padding: 0px 50px;
    background-color: #000B33;
    align-items: center;
    color: white;
}

.above-header ul{
    display: flex;
    gap: 20px;
    align-items: center;
}

.above-header .callus-txt {
    font-family: 'Teko';
    line-height: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
}

.above-header ul li {
    list-style-type: none;
}

.above-header ul li a {
    text-decoration: none;
    color: white;
}

/*===========================
    03. Header Menu
===========================*/

.navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.11);

}

.navbar .header-left img {
    height: 70px;
}

.navbar .header-right {
    margin-left: auto;
    margin-right: 20px;
}

.navbar .header-right ul {
    display: flex;
    gap: 30px;
}

.navbar .header-right ul li {
    list-style: none;
    font-family: 'Teko';
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
} 

.navbar .header-right ul li a{
    text-decoration: none;
    color: #000;
    
}

.navbar .header-right ul li a:hover{
    color: #FFB803;
    
}

/* .menu-btn {
    padding: 15px 30px;
    background-color: #FFB803;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Helvetica';
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.menu-btn:hover {
    background-color: #000D3A;
} */

.first-sect {
    padding: 0;
    margin: 0;
    color: white;
    min-height: 55vh;
    padding: 80px 50px;
    background: url('../images/homepage-bg1.jpg') no-repeat fixed,
    linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ;
    background-blend-mode: overlay;
    background-size: cover;
    background-position:50%;
}


.first-sect .first-cnt h3 {
    font-family: 'Teko';
    letter-spacing: 1em;
    color: #FFB803;
    margin-bottom: -3%;
    margin-left: 2px;
}

.first-sect .first-cnt p {
    margin-top: -2%;
}

.affordable-section {
    display: flex;
    padding: 80px 50px;
    padding-bottom: 0 !important;
    /* justify-content: flex-start; */
    align-items: center;
    color: #000D3A;
}

.affordable-section img {
    width: 600px;
    height: 400px;
    object-fit: contain;
}

.mission-vision {
    display: flex;
    padding: 40px 50px 0 50px;
}

.affordable-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

